@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #2f00ff1c;
}